{% extends "ProjectCommonBundle::layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
       var module = angular.module("customAPP",[]);
        angular.element(document).ready(function(){
            angular.bootstrap(document.getElementById('custom-id'),['customAPP']);
        });

        module.config(function($interpolateProvider){
            $interpolateProvider.startSymbol('%');
            $interpolateProvider.endSymbol('%');

        });

        module.controller('ItemController',function($scope,$http){

            // Pagination
            $scope.currentPage = 0;
            $scope.pageSize = 10;
            $scope.numberOfPages=function(){
                return Math.ceil((($scope.items)?$scope.items.length:0)/$scope.pageSize);
            }

            // Loading all items while loading page
            $http({method:'GET',url: '{{path('project_common_itemsApi')}}'}).success(function(data){
               $scope.items = data;
            });

            // Adding item
            $scope.addItem = function(){
                var formData = { name: $scope.itemName , price: $scope.price };
                $http({
                    method: 'POST',
                    url: '{{path('project_common_addItemApi')}}',
                    data: formData }).
                        success(function(data, status, headers, config) {
                            angular.forEach(data, function(value,key){
                                $scope.items.push(value);
                            });
                        }).
                        error(function(data, status, headers, config) {
                            // called asynchronously if an error occurs
                            // or server returns response with an error status.
                        });
            }
        });

       module.filter('startFrom', function() {
           return function(input,start) {
               if(input != undefined){
                   return input.slice(start);
               }
           }
       });
    </script>
{% endblock %}
{% block bodycontent %}
    <div><h1>Items List</h1></div>
    <div id="custom-id">
        <div ng-controller="ItemController">
            <div class="form">
                <div class="post-item">
                    <div><input type="text" ng-model="itemName" placeholder="Item Name"></div>
                    <div><input type="text" ng-model="price" placeholder="Price"></div>
                    <button ng-click="addItem();">Add Item</button>
                </div>
            </div>
            <div>
                <div>Total No of Items: % items.length %</div>
                <table>
                    <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Item Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td> % item.name %</td>
                        <td> % item.price | currency:"&#x20B9;" %</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    Previous
                </button>
                % currentPage+1 % / % numberOfPages() %
                <button ng-disabled="currentPage >= items.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                    Next
                </button>
            </div>

        </div>
   </div>
{% endblock %}