{% extends "ProjectCommonBundle::layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/projectcommon/js/project/item.js') }}"></script>
{% endblock %}
{% block bodycontent %}
    <div><h1>Items List</h1></div>
    <div id="custom-id">
        <div ng-controller="ItemController">
            <div class="form">
                <div class="post-item">
                    <div><input type="text" ng-model="itemName" placeholder="Item Name"></div>
                    <div><input type="number" ng-model="price" placeholder="Price"></div>
                    <button ng-click="addItem();">Add Item</button>
                </div>
            </div>
            <div>
                <div>Total No of Items: % items.length %</div>
                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Item Name</th>
                        <th>Item Price</th>
                        <th> Action </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td> % item.id %</td>
                        <td> % item.name %</td>
                        <td> % item.price | currency:"&#x20B9;" %</td>
                        <td> <span ng-click="removeItem(item.id, $index)">Remove</span> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    Previous
                </button>
                % currentPage+1 % / % numberOfPages() %
                <button ng-disabled="currentPage >= items.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                    Next
                </button>
            </div>

        </div>
   </div>
{% endblock %}